<h2>Shopping Cart</h2>

{{#if userCart}}
{{#each userCart as |item|}}
    <div class="product">
        <img class="product-img" src="../images/{{product.filename}}" alt="product.filename">

        <div class="product-details" data-product-name="{{product.name}}" data-product-quantity="{{item.quantities}}" data-product-price="{{item.product.price}}">
        <h2>{{product.name}}</h2>
        <p>price: {{item.product.price}}$</p>
        <p>{{item.product.description}}</p>
        <p>stock: {{item.product.stock}}</p>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" min="0" max="{{item.product.stock}}" data-cart-id="{{item.id}}" class="quantity-input" data-id="{{item.product.id}}" data-price="{{item.product.price}}" name="quantity" value="{{item.quantities}}">
        <p class="total">total: $ {{total item.product.price item.quantities}}</p>
        </div>
        <button data-id="{{item.product.id}}" class="rm-btn button">Remove Product</button>
    </div>
{{/each}}
<div class="checkout">
<p class="subtotal"></p>
<button class="button" id="checkout-btn">Checkout</button>
</div>
{{else}}
<div class="category-text">
<p>There are no items in your cart.</p>
</div>

{{/if}}


<script src="../js/cart.js"></script>