<img class="product-img" src="../images/{{product.filename}}" alt="product.filename">

<div class="product-details">
    <h2>{{product.name}}</h2>
    <p>price: {{product.price}}$</p>
    <p>{{product.description}}</p>
    <p>stock: {{product.stock}}</p>
    {{#if isInCart}}
    <p class="in-cart"><i class="fa-duotone fa-check"></i> Added to Cart</p>
    {{else}}
    <button data-id="{{product.id}}" data-stock="{{product.stock}}" class="button add-cart">Add to Cart</button>
    <p class="added-to-cart"><i class="fa-duotone fa-check"></i> Added to Cart</p>
    {{/if}}
</div>
<script src="../js/product.js"></script>